:root {
  --color-white: rgb(245, 245, 245);
  --color-black: rgb(0, 0, 0);
  --color-primary-light: rgb(199, 199, 199);
  --color-primary-medium: rgb(70, 70, 70);
  --color-primary-dark: rgb(0, 0, 0);
  --color-grey: rgb(128, 128, 128);
  --color-grey-light: rgb(242, 245, 248);
  --color-grey-light-2: rgb(207, 207, 207);
  --color-grey-light-3: rgb(163, 162, 162);
  --color-grey-dark: rgb(82, 82, 82);
  --color-grey-darker: rgb(39, 39, 39);
  --color-secondary-light: rgba(116, 124, 106, 0.8);
  --color-secondary-dark: rgba(32, 45, 16, 0.702);
  --color-yellow-light: rgb(247, 220, 111);
  --color-yellow-dark: rgb(212, 172, 13);
  --color-red: rgb(235, 47, 100);
  --color-red-light: rgb(255, 51, 102);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

@font-face {
  font-family: 'Inter';
  src: url("/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Open-sans';
  src: url("/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }

body {
  font-family: 'Open-sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white); }

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light);
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }
  @media only screen and (max-width: 53.95em) {
    .container {
      flex-direction: column; } }

.teams-view {
  flex: 1; }

.teams-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none; }

.team-tile {
  height: 200px;
  width: 200px;
  border-radius: 1rem;
  border: 0.3rem solid;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.team-tile--link {
  color: var(--color-white);
  text-decoration: none; }

.team-tile--img {
  display: flex;
  flex-direction: column; }

.team-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem; }

.team-title--city {
  font-weight: 100; }

.team-title--name {
  font-weight: 900; }

.players-container {
  flex: 1; }

.players-team-view {
  background-color: var(--color-white);
  height: 17rem;
  margin: 2rem;
  position: relative;
  border-radius: 1rem;
  border: 0.6rem solid; }

.players-team-view--wordmark > div {
  border: 2rem solid var(--color-white);
  border-radius: 10rem; }

.players-team-view--heading {
  align-self: center;
  margin-left: 3rem;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem; }

.players-team-view--img {
  justify-content: center;
  align-self: center; }

.players-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.players-grid--item {
  list-style-type: none;
  height: 17rem;
  width: 17rem;
  border-width: 0.3rem;
  border-style: solid;
  border-radius: 1rem;
  background-color: var(--color-grey-light);
  margin-bottom: 2rem; }

.player-tile {
  display: flex;
  justify-content: center; }

.player-tile--link {
  color: var(--color-black);
  text-decoration: none;
  display: flex;
  flex: 1;
  justify-content: center; }

.player-tile--img {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1rem;
  position: relative; }
  .player-tile--img > div {
    align-self: center; }

.player-title {
  display: flex;
  flex: auto;
  flex-direction: column;
  text-align: center;
  align-self: stretch;
  justify-items: center;
  margin-bottom: 0.5rem;
  color: var(--color-black); }

.player-title--firstname::before {
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: var(--color-black);
  mask-image: url("/img/chevron-thin-right.svg");
  -webkit-mask-image: url("/img/chevron-thin-right.svg");
  mask-size: cover;
  -webkit-mask-size: cover; }

.player-title--number {
  background-color: var(--color-black);
  color: var(--color-white);
  height: 3rem;
  width: 3rem;
  font-size: 1.4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem; }

.nav-bar {
  font-size: 1.4rem;
  flex: 0 0 18%;
  background-color: var(--color-grey-dark); }
  .nav-bar ul {
    list-style: none; }
    @media only screen and (max-width: 53.95em) {
      .nav-bar ul {
        display: flex;
        flex-direction: row; } }
  .nav-bar__item {
    position: relative; }
    .nav-bar__item:not(:last-child) {
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 53.95em) {
        .nav-bar__item:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 53.95em) {
      .nav-bar__item {
        flex: 1; } }
  .nav-bar__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-red);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .nav-bar__item:hover::before, .nav-bar__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .nav-bar__item:active::before {
    background-color: var(--color-red-light); }
  .nav-bar__link:link, .nav-bar__link:visited {
    color: var(--color-grey-light);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 53.95em) {
      .nav-bar__link:link, .nav-bar__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav-bar__link:link, .nav-bar__link:visited {
        flex-direction: column;
        padding: 1rem; } }
  .nav-bar__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .nav-bar__icon {
        margin-right: 0;
        margin-bottom: 0.5rem;
        width: 1.5rem;
        height: 1.5rem; } }

.header {
  font-size: 1.4rem;
  width: 100%;
  height: 7rem;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2); }
  @media only screen and (max-width: 37.5em) {
    .header {
      flex-wrap: wrap;
      height: 12rem; } }

.logo {
  margin-left: 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  .logo__icon {
    height: 4rem;
    width: 4rem; }
  .logo__text {
    padding-left: 1rem;
    font-size: 2rem;
    color: var(--color-black); }
    @media only screen and (max-width: 23.45em) {
      .logo__text {
        display: none; } }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-2); }
  .search__input:focus + .search__button {
    transition: 0.2s;
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-3); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-darker); }
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100%;
    background-color: var(--color-red);
    color: var(--color-white);
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user {
    margin-right: -1px; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__user-name {
    color: var(--color-grey-dark); }

.footer {
  background-color: var(--color-grey-dark);
  color: var(--color-white);
  width: 100%; }

.section-about {
  color: var(--color-black); }
