$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 53.95em; // px
$bp-small: 37.5em; // 600px
$bp-smallest: 23.45em; // 375px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px, 10pc/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;

  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
