:root {
  --color-white: rgb(245, 245, 245);
  --color-black: rgb(0, 0, 0);
  --color-primary-light: rgb(160, 179, 199);
  --color-primary-medium: rgb(65, 102, 143);
  --color-primary-dark: rgb(1, 51, 105);
  --color-grey: rgb(128, 128, 128);
  --color-grey-light: rgb(229, 235, 241);
  --color-grey-dark: rgb(82, 82, 82);
  --color-grey-darker: rgb(39, 39, 39);
  --color-secondary-light: rgba(116, 124, 106, 0.8);
  --color-secondary-dark: rgba(32, 45, 16, 0.702);
  --color-yellow-light: rgb(247, 220, 111);
  --color-yellow-dark: rgb(212, 172, 13);

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
