:root {
  --color-white: rgb(245, 245, 245);
  --color-black: rgb(0, 0, 0);
  --color-primary-light: rgb(199, 199, 199);
  --color-primary-medium: rgb(70, 70, 70);
  --color-primary-dark: rgb(0, 0, 0);
  --color-grey: rgb(128, 128, 128);
  --color-grey-light: rgb(242, 245, 248);
  --color-grey-light-2: rgb(207, 207, 207);
  --color-grey-light-3: rgb(163, 162, 162);
  --color-grey-dark: rgb(82, 82, 82);
  --color-grey-darker: rgb(39, 39, 39);
  --color-secondary-light: rgba(116, 124, 106, 0.8);
  --color-secondary-dark: rgba(32, 45, 16, 0.702);
  --color-yellow-light: rgb(247, 220, 111);
  --color-yellow-dark: rgb(212, 172, 13);
  --color-red: rgb(235, 47, 100);
  --color-red-light: rgb(255, 51, 102);

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
